{% include 'header.html' %}

        <h1>Logs</h1>

        <h2>
                <span class="step">
                    <i class="icon ion-android-locate"></i>
                </span>
                Flow Rate
        </h2>


        <hr />

        <h2>
                <span class="step">
                    <i class="icon ion-earth"></i>
                </span>
                Soil Moisture
        </h2>


        <hr />

        <h2>
                <span class="step">
                    <i class="icon ion-earth"></i>
                </span>
                Zones
        </h2>

        <table class="datatable">
            <tr><th>Zone</th><th>Log Time</th><th>Note</th></tr>
        </table>

{% include 'footer.html' %}
